# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
__init__.pyi

# Data and Checkpoints
data/
checkpoints/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# macOS
.DS_Store
